<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TTTicketBooking</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
    
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.ttn.ticketApp.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClientBooking</servlet-name>
    <servlet-class>com.ttn.ticketApp.ClientBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientBooking</servlet-name>
    <url-pattern>/ClientBooking</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.ttn.ticketApp.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
</web-app>